
Projects/Python Twitter Analysis/untitled.txt
Projects/Who's turn is it? 
Reference/.ipynb_checkpoints/*
Reference/.ipynb_checkpoints/Libraries-checkpoint.ipynb
Reference/.ipynb_checkpoints/Libraries-checkpoint.ipynb
Reference/Libraries.ipynb
Reference/.ipynb_checkpoints/Libraries-checkpoint.ipynb
Reference/.ipynb_checkpoints/Pandas methods-checkpoint.ipynb
sh.exe.stackdump

Projects/Object detection/tensorflow-for-poets-2/
Reference/Regressions,Regressions,Regressions/.ipynb_checkpoints/Regression_ additional notes-checkpoint.ipynb
Reference/Regressions,Regressions,Regressions/.ipynb_checkpoints/Regression,Regression,Regression-checkpoint.ipynb
Projects/Sagemaker/.ipynb_checkpoints/Readme-checkpoint.ipynb
Projects/Sagemaker/.DS_Store
Reference/Regressions,Regressions,Regressions/.ipynb_checkpoints/Regression,Regression,Regression-checkpoint.ipynb
Reference/Regressions,Regressions,Regressions/.ipynb_checkpoints/Regression,Regression,Regression-checkpoint.ipynb
Projects/Drawing with Turtles/Graphs/basic.svg
Projects/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Projects/.DS_Store
Projects/Drawing with Turtles/Graphs/basic.svg
Reference/Regressions,Regressions,Regressions/.ipynb_checkpoints/Regression,Regression,Regression-checkpoint.ipynb
Reference/Regressions,Regressions,Regressions/.ipynb_checkpoints/Regression,Regression,Regression-checkpoint.ipynb
